.btn {
	$btn-width: 32px;

	&-toggle {
		border: none;
		color: var(--gray-dark);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: $btn-width;

		input[type='checkbox'] {
			cursor: pointer;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: inherit;
			height: inherit;
			z-index: 1;
		}
		> svg {
			fill: currentColor;
		}
		&:hover {
			color: var(--gray-dark);
		}
	}
}
